/* CSS */
body {
   margin: 0;
   padding: 0;
   font-size: 1.1em;
   background-color: #94d7e3;
}

h1 {
   font-family: Futura, Helvetica, Arial, 'sans-serif';
   margin-top: 0;
}



#wrapper {
   margin: 0 auto;
   padding: 10px 30px;
   width: 500px;
   background-color: white;
   height: 100%;
   border-left: 2px solid black;
   border-right: 2px solid black;
}

img {
   border: 2px solid black;
}

